# 1. Exercise 82: Taxi Fare

In [100]:
def taxi_fare(kilo):
    base_fare = 4.00
    overfee = ((kilo*1000) // 140) * 0.25
    return base_fare + overfee

In [101]:
taxi_fare(1.4)

6.5

# 2. Exercise 84: Median of Three Valeus

In [51]:
def three_nums(x, y, z):
    li = sorted([x,y,z])
    return li[1]

In [54]:
three_nums(3,9,1)

3

# 3. Exercise 85: Convert an Integer to its Ordinal Number

In [102]:
def int_to_ord(int_num):
    li = ['first', 'second', 'third', 'forth', 'fifth', 'sixth', 'seventh','eighth', 'ninth', 'tenth', 'eleventh', 'douze']
    if int_num < 13:
        ordi = li[int_num-1]
    else:
        ordi = ""
    return ordi

In [103]:
int_to_ord(13)

''

# 4. Exercise 88: Is it a Valid Triangle?

In [74]:
def bool_triangle(x,y,z):
    li = sorted([x,y,z])
    if li[0] + li[1] > li[2]:
        msg = "This is a Triangle"
    else:
        msg = "This is not a Triangle"
    return msg

In [79]:
bool_triangle(2,2,6)

'This is not a Triangle'

# 5. Exercise 92: Is a Number Prime?

In [80]:
def prime_num(num):
    li = []
    for i in range(1, num+1):
        if num % i == 0:
            li.append(i)
    if len(li) == 2 or len(li) == 1:
        result = True
    else:
        result = False
    return result

In [91]:
prime_num(11)

True

### 6. Exercise 86: The Twelve Days of Christmas (미완)

### 7. Exercise 89: Capitalize It (미완)

In [118]:
# 규칙 1: i가 하나있으면 대문자
# 규칙 2: 첫번째는 대문자
# 규칙 3: 특수문자 다음에는 대문자

def cap(string):
    li = []
    li.extend(string)
    string[0] = string[0].upper()
    return li

# 8. Exercise 90: Does a String Represent an Integer?

In [140]:
str.lstrip("   12323   ")
str.rstrip("12312  ")
str.strip(" 12342342")
int("+1")

1

In [143]:
def isInteger_(string):
    string = str.strip(string)
    try:
        int(string)
        result = True
    except:
        result = False
    return result

In [152]:
isInteger_("   +1222345    ")

True

# 9. Exercise 93: Next Prime

In [155]:
def next_prime(num):
    while True:
        num += 1
        if prime_num(num) is True:
            break
    return num

In [160]:
next_prime(13)

17

# 10. Exercise 96: Check a Password

In [188]:
def check_pw(pw):
    c1 = 0
    c2 = 0
    c3 = 0
    c4 = 0
    for i in pw:
        if i.isupper() is True:
            c1 += 1
        if i.islower() is True:
            c2 += 1
        if i.isdecimal() is True:
            c3 += 1
        if len(pw) >= 8:
            c4 += 1
    
    print(c1,c2,c3,c4)
    if c1 > 0 and c2 > 0 and c3 > 0 and c4 > 0:
        result = "good"
    else:
        result = "false"
        
    return result

In [193]:
check_pw("123R4444r")

1 1 7 9

'good'